@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&subset=arabic');
/* Reset some default browser styles */
body, h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* Apply the imported font to body and other text elements */
body {
  font-family: 'Cairo', sans-serif;
  line-height: 1.6;
}
.App {
  text-align: center;
  font-family: 'Arial', sans-serif; /* You can replace this with a Farsi-compatible font */
}

.App-header {
  background-color: #282c34;
  padding: 1em;
  color: white;
}

.App-nav {
  margin-top: 1em;
  margin-bottom: 1em;
}

.App-nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.App-main {
  padding: 1em;
  background-color: #f4f4f4;
}

.video-section {
  margin-bottom: 2em;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
}

.video-container {
  margin: 0.5em;
}

iframe {
  max-width: 100%;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.App-footer a {
  color: white;
  margin: 0 15px;
}
a {
  margin: 0 15px;
  text-decoration: none;
}

.App-footer a,
.ContactPage a {
  color: white;
}

.ContactPage p,
.ContactPage a {
  margin-bottom: 10px;
}

/* Add some spacing between the icon and text */
.ContactPage a svg,
.ContactPage p svg {
  margin-right: 8px;
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
}

.App-nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #282c34;
  font-weight: 600;
}

.App-nav a:hover {
  color: #007bff;
}

.video-container {
  margin: 1rem;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-section {
  margin-top: 2rem;
}

/* Make FontAwesome icons larger */
.fa-phone, .fa-envelope, .fa-instagram, .fa-telegram {
  font-size: 24px;
  margin-right: 8px;
}

/* Add to your existing App.css */
.video-section a {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
  margin-top: 1rem;
  display: inline-block;
}

.video-section a:hover {
  text-decoration: underline;
}
/* Additional styles */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.card-header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  font-weight: 600;
}

.card-body {
  padding: 1rem;
}

.card-footer {
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
  padding: 1rem;
}

.playlist-button {
  background-color: #2b2f57;
  color: rgb(191, 36, 36);
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.playlist-button:hover {
  background-color: #edf0e6;
}